<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

	<ion-item>
		<ion-input type="text" [(ngModel)]="tasksService.username" placeholder="Enter Username">
		</ion-input>
	</ion-item>

	<button ion-button color="danger" (click)="tasksService.getAll()">Get</button>
	<button ion-button (click)="tasksService.saving()">Save</button>
	<button ion-button color="danger" (click)="tasksService.deleteDB()">DeleteDB</button>

	<ion-list>
	  <ion-item-sliding *ngFor="let x of tasksService.tasks; let i = index ">
	    <ion-item>
	    	<span>{{x.id}}</span> - {{x.name}}
	    </ion-item>
	    <ion-item-options side="left">
	      <button ion-button (click)="favorite(item)">Favorite</button>
	      <button ion-button color="danger" (click)="share(item)">Share</button>
	    </ion-item-options>

	    <ion-item-options side="right">
	      <button ion-button (click)="deleteTask(x, i)">Delete</button>
	    </ion-item-options>
	  </ion-item-sliding>

	</ion-list>

</ion-content>
